<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="css\confing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="logo">
                    <img src="./img/conf.png" alt="">
                    
                </div>
                <div class="button-box">
                    <a href="/testekailamodal/tabela.html"><button type="button">Gerenciar Conta</button></a>
                </div>
                
                <ul class="menu-list">
                    <a href="menu.html"><button id="btnVoltar">
                        <i class="fa-solid fa-house-medical"></i>
                        Voltar</button></a> 
                </ul>
            </div>
            <div class="content">
                    <div class="inputs-edicao">
                    <div class="foto">
                        <img src="img/profile.png">   
                        <button class="alterar-btn">Alterar</button>    
                    </div>
                    <br><br>
                    <div class="Nome Usuario">
                        <label for="nome" class="form-label">Nome do Usuário</label>
                        <input type="text" class="form-control" id="nome" placeholder="Enfermeira 01">
                    </div>
                    <br><br>
                    <div class="nome-sobrenome">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Regina">
                    </div>
                    <div class="nome-sobrenome">
                        <label for="sobrenome" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome" placeholder=" Da Silva Pereira">
                    </div>
                    <div class="Telefone">
                        <label for="Telefone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="Telefone" placeholder="45 98801-1900">
                        <div class="nome-sobrenome">
                            <label for="e-mail" class="form-label">E-mail</label>
                            <input type="text" class="form-control" id="sobrenome" placeholder=" fernanda@gmail.com">
                        </div>
                    <br><br>
                    <label for="nome" class="form-label">Data de nascimento</label>
                    <input type="date" class="form-control" id="nome">
                    <br><br>
                    <label for="nome" class="form-label">CPF</label>
                    <br><br>
                    <input type="text" class="form-control" id="nome"placeholder="123.456.789-00">
                </div>
                <div class="buttons-edicao">
                    <a href="#"><button id="btn-salvar">Salvar</button></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
