<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha da Paciente</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="body-ficha">
    <div class="navbar">
            <a href="#">BABY CARE</a>
    </div>
    
    <div class="wholescreen">
        <div class="side-ficha">
            <img src="img/profile.png" alt="profile-img" class="ficha-img"><br>

            <h3 class="nome-paciente">
                Helena da Silva
            </h3>
            <h4 class="idade-gestacional">
                15 semanas
            </h4>

            <button class="side-button">
                Editar
            </button>
            <button class="side-button">
                Informações
            </button>
            <button class="side-button">
                Agendamento
            </button>

        </div>
        <div class="info-ficha">

        </div>
    </div>
    
</body>
</html>


