<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha da Paciente</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body class="body-ficha">
    <div class="navbar">
            <a href="#">BABY CARE</a>
    </div>
    
    <div class="wholescreen">
        <div class="side-ficha">
            <img src="img/profile.png" alt="profile-img" class="ficha-img"><br>
            <h3 class="nome-paciente">
                Alexa Rodrigues
            </h3>
            <h4 class="idade-gestacional">
                15 semanas
            </h4>
            <!-- Abrir modal -->
            <button class="side-button" id="Abrir_agendamentos" onclick="abrir_modal()">Agendamento</button>

            <a href="/views/menu.html"><button class="side-button">
                Voltar ao menu
            </button></a>
        </div>
        <div class="info-ficha">
            <div class="section1">
                <div class="pragnancy-dates">
                    <div class="dates-container">
                        <div class="DUM">
                        <label for="DUM-date">DUM</label>
                        <input type="date" class="date-input" id="DUM-date" value="2023-06-12">
                    </div>
                        <div class="DPP">
                            <label for="DPP-date">DPP</label>
                            <input type="date" class="date-input" id="DPP-date" value="2024-03-20"><br>
                        </div>
                    </div>
                    <div class="date-consulta">
                        <label for="consulta">Consulta:</label>
                        <input type="number" value="21" class="consulta-input" id="consulta">
                    </div>
                </div>

                <div class="pragnancy-risk">
                    <div class="risk">
                        <label for="risco" class="risk-title">Risco:</label>
                        <select id="risco" name="cor" class="risk-input">
                            <option hidden >Selecione</option>
                            <option value="#15EA1D" data-bgcolor="#15EA1D">Habitual</option>
                            <option value="#FFE500" data-bgcolor="#FFE500">Intermediário</option>
                            <option value="#FC0000" data-bgcolor="#FC0000">Alto</option>
                        </select>
                        <label for="parto" class="risk-title">Parto:</label>
                        <select id="parto" class="risk-input">
                            <option hidden>---------------------------------------</option>
                            <option>Normal</option>
                            <option>Cesarea</option>
                        </select>

                    </div>
                    <div class="personal-info">
                        <label for="phone-number">Numero: </label>
                        <input id="phone-number" class="personal-input" value="45 99836-9465"><br>
                        <label for="adress">Endereço: </label>
                        <input id="adress" class="personal-input" value="Rua Comendador Franco, 765">
                    </div>
                </div>
            </div>
            <div class="section2">
                <div class="container2">
                    <h3>Consultas</h3>
                    <textarea class="info-text">

                    </textarea>

                </div>
                <div class="container2">
                    <h3>Exames</h3>
                    <textarea class="info-text"></textarea>
                    
                </div>
                <div class="container2">
                    <h3>Texto</h3>
                    <textarea class="info-text"></textarea>
                </div>

            </div>
            <div class="section3">
                <h3>Observações</h3>
                <div class="container3">
                    <textarea class="observacoes-text"></textarea>
                   

                </div>
                
            </div>
            <div class="section4">
                <h3>Informações do parto</h3>
                <div class="container4">
                    <textarea class="doctor-text">Médico responsável: Arthur de Oliveira</textarea>

                    <div class="info-parto">
                        <textarea class="obs-parto"></textarea>
                        
                        <div class="parto-checklist">
                            <label>List</label>
                            <input class="" type="checkbox">
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="modalAgendamento" id="janelaAgendamento">
        <div class="sectionModal">
            <span class="fechar" onclick="fechar_modal()">&times;</span>
            <h2>Agendar Consulta</h2>
            <form id="appointment-form">
                <label  class="text-agendamento" for="appointment-type">Tipo de Consulta:</label><br>
                <select class="campo-agendamento" id="appointment-type" required>
                    <option value="trimestral">Trimestral</option>
                    <option value="dentista">Dentista</option>
                    <option value="outros">Outros</option>
                </select><br><br>
    
                <label  class="text-agendamento" for="appointment-date">Data do Agendamento:</label><br>
                <input class="campo-agendamento" type="date" id="appointment-date" required><br><br>
    
                <button class="agendamento-button" type="submit" onclick=" return agendar_consulta()">Agendar</button>
            </form>
        </div>
    </div>

    <script>
        const selectElement = document.getElementById("risco");
        function mudarCor() {
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var backgroundColor = selectedOption.getAttribute('data-bgcolor');
            selectElement.style.backgroundColor = backgroundColor;
        }

        selectElement.addEventListener("change", mudarCor);

        var abrirModal = document.getElementById('abrirAgendamentos');
        var modalAgendamento = document.getElementById('janelaAgendamento');
        function abrir_modal(){
            modalAgendamento.style.display = 'block';
        }
        function fechar_modal(){
            modalAgendamento.style.display = 'none';
        }
        function agendar_consulta() {
            var dataInput = document.getElementById('appointment-date').value;
            var data_agendamento = new Date(dataInput);
            var data_atual = new Date();
            
           
            if (isNaN(data_agendamento.getTime()) || data_agendamento <= data_atual) {
                alert('Data inválida. Por favor, insira uma data válida.');
                return false;
            } else {
                alert('Consuta agendada com sucesso');
                fechar_modal();
                return true;
            }
}
    </script>
    
</body>
</html>


