<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <nav>
            <a class="logo" >Baby Care</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    <div class="TelaMenu">
        
        <div class="MenuLateral">
            <div class="img-container">
                <img class="Profile-img" src="./img/profile.png" alt="imagem">
            </div>
            <div class="Button-container">
                <a href="busca_lista.html"><Button class="menu-button" >
                    <i class="fa-solid fa-list-ul" style="color: #280b56;"></i>
                    Lista de Pacientes</Button></a>
                <a href="cadastroPaciente.html"><Button class="menu-button" >
                    <i class="fa-solid fa-hospital-user" style="color: #280b56;"></i>
                    Cadastrar Pacientes</Button></a>
                <a href="relatorio_atividade.html"><Button class="menu-button" >
                    <i class="fa-solid fa-clipboard-list" style="color: #280b56;"></i>
                    Relatório</Button></a>
                <a href="PartosProx.html"><Button class="menu-button" >
                    <i class="fa-solid fa-baby-carriage" style="color: #280b56;"></i>
                    Próximos Partos</Button></a>
                <a href="confing.html"><Button class="menu-button" >
                    <i class="fa-solid fa-gears" style="color: #280b56;" ></i>
                    Configurações</Button></a>
            </div>
            <div class="Sair">
                
                <a class="Sair-Login" href="../index.html">
                    
                    <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                    Sair</a>
            </div>
        </div>
        <div class="info-consultas"> 
            <iframe class="mapa" src="https://www.google.com/maps/d/embed?mid=17YACl_IKrkJqR3ML38aEJHD1YKn5KG0&z=14&ll=-25.5212459700624,-54.55435172596687&ehbc=2E312F" width="640" height="480"></iframe>
            </html>


