<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partos Próximos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="\views\css\ProxPartos.css">   <link rel="stylesheet" href="\views\css\ProxPartos.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul class="nav-list">
    
            <li class="nav-item"><a href="\views\menu.html" class="nav-link">Menu</a></li>
        </ul>
        <form class="nav-item">
            <input type="search" class="form-control" placeholder="Pesquisar..." aria-label="Search">
        </form>
    </div>

    <!-- Conteúdo principal -->
    <div class="container">
        <!-- Grávida 1 -->
        <div class="comic">
            <div class="info-square">
                <div class="profile">
                    <div>
                        <img src="\views\img\profile.png" alt="Perfil da grávida">
                    </div>
                </div>
                <div class="info">
                    <h3>Carolina Rodrigues</h3>
                    <div class="info-details">
                    <p>Semanas: 30</p>
                    <p>28 anos</p>
                    </div>
                </div>
                <div class="risk">
                    <select class="risk-select" onchange="changeColor(this)">
                        <option ></option>
                        <option value="green" class="green">Habitual</option>
                        <option value="yellow" class="yellow">Intermediário</option>
                        <option value="red" class="red">Alto</option>
                    </select>
                </div>
            </div>
        <div class="line-dois">
            <div class="dpp">
                <p>DPP: 25/09/2023</p>
            </div>
            <div class="dias">
                <p>Dia do parto</p>
            </div>
            <div class="options">
                <div class="pending-appointments">
                    <div class="consultations">
                        <p><b> 
                            Consultas Pendentes:2
                            <div class="consult">
                                <li>Consulta médica</li>
                                <li>Consulta odontológica</li>
                            </div>
                            </b></p>
                        <div class="consultation-details">
                        </div>
                    </div>
                    <div class="birth-type">
                        <label for="birth-type1"></label>
                        <select id="birth-type2">
                            <option value="cesarean">Cesariana</option>
                            <option value="normal">Normal</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Grávida 2 -->
        <div class="comic">
            <div class="info-square">
                <div class="profile">
                    <div>
                        <img src="\views\img\profile.png" alt="Perfil da grávida">
                    </div>
                </div>
                <div class="info">
                    <h3>Manuela Ribeiro</h3>
                    <div class="info-details">
                    <p>Semanas: 30</p>
                    <p>28 anos</p>
                    </div>
                </div>
                <div class="risk">
                    <select class="risk-select" onchange="changeColor(this)">
                        <option ></option>
                        <option value="green" class="green">Habitual</option>
                        <option value="yellow" class="yellow">Intermediário</option>
                        <option value="red" class="red">Alto </option>
                    </select>
                </div>
            </div>
        <div class="line-dois">
            <div class="dpp">
                <p>DPP: 30/09/2023</p>
            </div>
            <div class="dias">
                <p>5 dias para o parto</p>
            </div>
            <div class="options">
                <div class="pending-appointments">
                    <div class="consultations">
                        <p><b> 
                            Consultas Pendentes:2
                            <div class="consult">
                                <li>Consulta médica</li>
                                <li>Consulta odontológica</li>
                            </div>
                            </b></p>
                        <div class="consultation-details">
                        </div>
                    </div>
                    <div class="birth-type">
                        <label for="birth-type1"></label>
                        <select id="birth-type2">
                            <option value="normal">Normal</option>
                            <option value="cesarean">Cesariana</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
<!-- Grávida 3 -->
<div class="comic">
    <div class="info-square">
        <div class="profile">
            <div>
                <img src="\views\img\profile.png" alt="Perfil da grávida">
            </div>
        </div>
        <div class="info">
            <h3>Maria Da Silva</h3>
            <div class="info-details">
            <p>Semanas: 30</p>
            <p>28 anos</p>
            </div>
        </div>
        <div class="risk">
            <select class="risk-select" onchange="changeColor(this)">
                <option ></option>
                <option value="green" class="green">Habitual</option>
                <option value="yellow" class="yellow">Intermediário</option>
                <option value="red" class="red">Alto </option>
            </select>
        </div>
    </div>
<div class="line-dois">
    <div class="dpp">
        <p>DPP: 02/10/2023</p>
    </div>
    <div class="dias">
        <p>7 dias para o parto</p>
    </div>
    <div class="options">
        <div class="pending-appointments">
            <div class="consultations">
                <p><b> 
                    Consultas Pendentes:2
                    <div class="consult">
                        <li>Consulta médica</li>
                        <li>Consulta odontológica</li>
                    </div>
                    </b></p>
                <div class="consultation-details">
                </div>
            </div>
            <div class="birth-type">
                <label for="birth-type1"></label>
                <select id="birth-type2">
                    <option value="normal">Normal</option>
                    <option value="cesarean">Cesariana</option>
                </select>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Grávida 4 -->
<div class="comic">
    <div class="info-square">
        <div class="profile">
            <div>
                <img src="\views\img\profile.png" alt="Perfil da grávida">
            </div>
        </div>
        <div class="info">
            <h3>Celia Da Souza</h3>
            <div class="info-details">
            <p>Semanas: 30</p>
            <p>28 anos</p>
            </div>
        </div>
        <div class="risk">
            <select class="risk-select" onchange="changeColor(this)">
                <option ></option>
                <option value="green" class="green">Habitual</option>
                <option value="yellow" class="yellow">Intermediário</option>
                <option value="red" class="red">Alto </option>
            </select>
        </div>
    </div>
<div class="line-dois">
    <div class="dpp">
        <p>DPP: 12/10/2023</p>
    </div>
    <div class="dias">
        <p>17 dias para o parto</p>
    </div>
    <div class="options">
        <div class="pending-appointments">
            <div class="consultations">
                <p><b> 
                    Consultas Pendentes:2
                    <div class="consult">
                        <li>Consulta médica</li>
                        <li>Consulta odontológica</li>
                    </div>
                    </b></p>
                <div class="consultation-details">
                </div>
            </div>
            <div class="birth-type">
                <label for="birth-type1"></label>
                <select id="birth-type2">
                    <option value="cesarean">Cesariana</option>
                            <option value="normal">Normal</option>
                </select>
            </div>
        </div>
    </div>
</div>
</div>

    </div>
    <nav aria-label="...">
        <ul class="pagination">
        <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
        </li>
        <li class="page-item"><a class="page-link" href="Partos02.html">2</a></li>
        <li class="page-item"><a class="page-link" href="partos03.html">3</a></li>
        </ul>
    </nav>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
    <script src="assents/javascript/parto.js"></script>
</body>
</html>
