<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Pacientes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css\Relatorio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <ul class="nav-list">
            <b class="Projeto">BabyCare</b>
            <li class="nav-item"><a class="nav-link" href="menu.html">
                <i class="fa-solid fa-house-medical"></i>
                Menu</a></li>
        </ul>
    </div>
    <h1>Relatório</h1>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Digite o nome do usuário ou data da Modificação">
        <table>
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Data</th>
                    <th>Modificação</th>
                </tr>
            </thead>
            <tbody id="patient-list">
                <tr class="patient" data-name="alexa rodrigues" data-date="01/09/2023" data-modification="amarelo">
                    <td>alexa rodrigues</td>
                    <td>01/09/2023</td>
                    <td>Agendou um exame de ultrassonografia para Maria da silva</td>
                </tr>
                <tr class="patient" data-name="Pedro rodrigues" data-date="02/09/2023" data-modification="adicionou a paciente Maria Pereira">
                    <td>Pedro rodrigues</td>
                    <td>01/10/2023</td>
                    <td>Adicionou a paciente Maria Pereira</td>
                </tr>
                <tr class="patient" data-name="alexa rodrigues" data-date="01/09/2023" data-modification="amarelo">
                    <td>alexa rodrigues</td>
                    <td>01/10/2023</td>
                    <td>registrou os resultados dos exames de sangue e urina pré-natais de Maria da silva</td>
                </tr>
                <tr class="patient" data-name="Maria Pereira" data-date="15/10/2022" data-modification="atualizou o endereço para Rua das Flores, 123">
                    <td>Maria Pereira</td>
                    <td>01/10/2022</td>
                    <td>Atualizou o endereço de Julia Lima para Rua das Flores, 123</td>
                </tr>
                <tr class="patient" data-name="Fernando e Isabel Soares" data-date="08/11/2023" data-modification="adicionou anotações médicas sobre a saúde do bebê Sofia">
                    <td>Fernando e Isabel Soares</td>
                    <td>39/09/2023</td>
                    <td>Adicionou anotações médicas a paciente Maria pereira</td>
                </tr>
                <tr class="patient" data-name="alexa rodrigues" data-date="01/09/2023" data-modification="amarelo">
                    <td>alexa rodrigues</td>
                    <td>30/09/2023</td>
                    <td>Agendou um exame de ultrassonografia para Maria da silva</td>
                </tr>
                <tr class="patient" data-name="Pedro rodrigues" data-date="02/09/2023" data-modification="adicionou a paciente Maria Pereira">
                    <td>Pedro rodrigues</td>
                    <td>30/09/2023</td>
                    <td>Adicionou a paciente Maria Pereira</td>
                </tr>
                <tr class="patient" data-name="alexa rodrigues" data-date="01/09/2023" data-modification="amarelo">
                    <td>alexa rodrigues</td>
                    <td>29/09/2023</td>
                    <td>registrou os resultados dos exames de sangue e urina pré-natais de Maria da silva</td>
                </tr>
                <tr class="patient" data-name="Maria Pereira" data-date="15/10/2022" data-modification="atualizou o endereço para Rua das Flores, 123">
                    <td>Maria Pereira</td>
                    <td>28/09/2022</td>
                    <td>Atualizou o endereço de Julia Lima para Rua das Flores, 123</td>
                </tr>
                <tr class="patient" data-name="Fernando e Isabel Soares" data-date="08/11/2023" data-modification="adicionou anotações médicas sobre a saúde do bebê Sofia">
                    <td>Fernando e Isabel Soares</td>
                    <td>28/09/2023</td>
                    <td>Adicionou anotações médicas a paciente Maria pereira</td>
                </tr>
                <tr class="patient" data-name="Pedro rodrigues" data-date="02/09/2023" data-modification="adicionou a paciente Maria Pereira">
                    <td>Pedro rodrigues</td>
                    <td>28/09/2023</td>
                    <td>Adicionou a paciente Maria Pereira</td>
                </tr>
                <tr class="patient" data-name="alexa rodrigues" data-date="01/09/2023" data-modification="amarelo">
                    <td>alexa rodrigues</td>
                    <td>25/09/2023</td>
                    <td>registrou os resultados dos exames de sangue e urina pré-natais de Maria da silva</td>
                </tr>
                <tr class="patient" data-name="Maria Pereira" data-date="15/10/2022" data-modification="atualizou o endereço para Rua das Flores, 123">
                    <td>Maria Pereira</td>
                    <td>25/09/2022</td>
                    <td>Atualizou o endereço de Julia Lima para Rua das Flores, 123</td>
                </tr>
                <tr class="patient" data-name="Fernando e Isabel Soares" data-date="08/11/2023" data-modification="adicionou anotações médicas sobre a saúde do bebê Sofia">
                    <td>Fernando e Isabel Soares</td>
                    <td>24/09/2023</td>
                    <td>Adicionou anotações médicas a paciente Maria pereira</td>
                </tr>
            </tbody>
        </table>
        <div class="patient-details" id="patient-details">
            <div class="patient-info">
                <strong>Nome:</strong>
                <span id="detail-name"></span>
            </div>
            <div class="patient-info">
                <strong>Data:</strong>
                <span id="detail-date"></span>
            </div>
        </div>
    </div>
    

    <script>
        const searchInput = document.getElementById("search-input");
        const patientList = document.getElementById("patient-list");
        const patients = patientList.getElementsByClassName("patient");
        const patientDetails = document.getElementById("patient-details");
        const detailName = document.getElementById("detail-name");
        const detailDate = document.getElementById("detail-date");

        // Função para ocultar os detalhes do paciente
        function hidePatientDetails() {
            patientDetails.style.display = "none";
        }

        // Inicialmente, oculte os detalhes do paciente
        hidePatientDetails();

        for (const patient of patients) {
            patient.addEventListener("click", function () {
                const name = patient.getAttribute("data-name");
                const date = patient.getAttribute("data-date");

                detailName.textContent = name;
                detailDate.textContent = date;

                patientDetails.style.display = "block";
            });
        }

        searchInput.addEventListener("input", function () {
            const searchTerm = searchInput.value.trim().toLowerCase();

            for (const patient of patients) {
                const name = patient.getAttribute("data-name").toLowerCase();
                const date = patient.getAttribute("data-date").toLowerCase();
                const modification = patient.getAttribute("data-modification").toLowerCase();

                if (
                    name.includes(searchTerm) ||
                    date.includes(searchTerm) ||
                    modification.includes(searchTerm)
                ) {
                    patient.style.display = "table-row";
                } else {
                    patient.style.display = "none";
                }
            }

            // Ao atualizar a pesquisa, oculte os detalhes do paciente
            hidePatientDetails();
        });
    </script>
</body>
</html>
