body {
    background-color: #ffffff;
    margin-top: 60px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin-top: 5%;
    border-radius: 10px; 
}
.comic {
    position: relative;
    width: calc(50% - 50px); 
    border: 2px solid #e6d7ff ;
    border-radius: 25px;
    overflow: hidden; 
    background-color:#e6d7ff ;
    height: 300px;
    margin-bottom: 20px; 
}
.info-square {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.profile, .info, .risk {
    flex: 1;
    padding: 0px;
}

.profile {
    display: flex;
    padding: 10px;
    margin-bottom: 10px; 
    align-items: center;
}

.info {
    flex: 1;
    align-items: center;
    padding: 1px;
    margin-bottom: 5px;
    margin-left: -380px;
    margin-top: 15px;
}
.info-details p {
    margin-bottom: 2px; 
}
.profile img {
    max-width: 100px;
    margin-right: 10px;
}


.dpp, .pending-appointments{
    width: 400px;
}
.dpp{
    width: 150px;
    background-color: #A084CA;
    padding: 0px; 
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 1px;
    margin-bottom: 5px; 
    margin-left: 20px;
    margin-top: 15px;

}
.dias {
    width: 150px;
    background-color: #A084CA;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 1px;
    margin-bottom: 5px; 
    margin-top: 15px;

}
.pending-appointments{
    float: left;
    width: 55%;
    background-color: #A084CA;
    position: relative;
    top: -60px; 

} 
.risk {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 0; 
    right: 0; 
}
.risk-select:focus{
    outline: none;
}
.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 25px;
}
.consultations{
    margin-left: 5%;
}
.cesarean{
    background-color: #2a7e35;
}

.pending-appointments {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.birth-type {
    flex: 1; 
    margin-right: 10px;
}

.pending-appointments {
    background-color: #A084CA;
    text-align: center;
    margin-top: -50px; 
    margin-bottom: 10px;
    margin-left: 40%;
    border-radius: 15px;
    height: 150px;

}
.comic .comic-item {
    flex: calc(33.33% - 20px);
    box-sizing: border-box;
    border: 1px solid #6f4e87;
    padding: 10px;
}

 /* Estilos CSS para a caixa de seleção */
.risk-select {
    width: 100px; 
    height: 25px; 
    border: 2px solid #ccc; 
    border-radius: 6px; 
}

/* Estilos para a caixa de seleção quando a opção "Verde" está selecionada */
.risk-select.green {
    background-color: green;
}

/* Estilos para a caixa de seleção quando a opção "Vermelho" está selecionada */
.risk-select.red {
    background-color: red;
}

/* Estilos para a caixa de seleção quando a opção "Amarelo" está selecionada */
.risk-select.yellow {
    background-color: yellow;
}
/* caixas de seleção 02 */
#birth-type2 {
    /* Esconde a caixa de seleção padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 70px;
    height: 30px;
    background-color: #6f4e87;
    border: 1px solid #6f4e87;
    margin-right: 10px;
    border-radius: 3px;
}

/* Estilo para a caixa de seleção quando selecionada */
#birth-type2:checked {
    background-color: #36a545;
    border: 1px solid #2a7e35;
}


/* Estilizando a navegação de paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 0px;
}

  /* Estilizando os itens da página */
.page-item {
    margin: 0;
    padding: 0;
}
.page-item.active .page-link {
    background-color: #6f4e87;
    color: white;
}


.page-link {
    background-color: #E6D7FF;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}
.consult{
    width: 100%;
    height: 100px;
    background-color:#A084CA;
    position: relative;
    border-radius: 10px;
    text-align: left;
}

.navbar {
    padding: 10px 0;
    background-color: #6f4e87;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.menu-navegacao {
    padding: 3px;
    left: 0%;
}
.menu-navegacao ul {
    list-style-type: none;
    padding: 0;
}

.menu-navegacao ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
}
.navbar-text{
    text-align: center; 
    padding: 20px;
    color: #ffffff;
    text-decoration: none;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9165ca;
    border-radius: 10px;
    min-width: 80px;
    z-index: 1;
    text-align: left;
    top: 100%;
    max-width: 200px; 
    overflow: hidden;
}
.dropdown-content li {
    display: block;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
    color: #f7fffc;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.dropdown-content a:hover {
    background-color: #3c167a;
    width: 100%;
    border-radius: 5px;
}
.menu-navegacao ul li:hover .dropdown-content {
    display: block;
}
