@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;600&display=swap');

textarea {
    font-family: 'Roboto';
    text-align: left;
    resize: none;
}

textarea:focus{
    outline: none;
}


.body-login{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body-ficha{
    background-color: #e6d7ff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wholescreen-container{
    position: relative;
    margin: 0;
    display: flex;
    height: 100vh;
}

.sideview{
    width: 580px;
    height: 100%;
    background: #ffff;
    float: left;
}

 .imagem-babycare{
    position: absolute;
    margin-left: 70px;
    width: auto;
    width: 42vw;
    height: 100%;
    z-index: 10000;
} 

.login-screen{
    flex: 100%;
    position: relative;
    background-color: #bb91ee;
    width: 100%;
    z-index: 10;
}

.login-container{
    z-index: 10;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background-color: #cebee7;
}

.title-container{
    text-align: center;
    height: 80px;
    background-color: #A084CA;
}

.login-title{
    padding: 20px;
    font-size: 35px;
}

.info-container{
    padding: 30px
}


.login-text{
margin-left: 5px;
color: #000000a6;
font-size: large;
}

.login-input{
    font-size: medium;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 45px;
    width: 95%;
    background: #ffff;
    border: none;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
}

.login-input:focus{
    outline: none;
}
.login-button{
    background-color: #A084CA;
    margin-top: 40px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-size: x-large;
    cursor: pointer;
    color: #000000;
}
.login-button:hover{
    background-color: #9D65C9;
}
.anchor{
    text-decoration: none;
    color: #0000008c;;
}
.anchor:hover{
    color: #000000;
}

.forgot-password{
    text-align: right;
    margin-top: 20px;
}


/*Ficha da paciente*/

.navbar{
    padding: 5px;
    background-color: #6f4e87;
    height: 25px;
    position: fixed;
    z-index: 1000;
    top: 0; 
    margin-left: 0; 
    margin-right: 0;
    width: 100%;
    overflow: hidden;
}

.navbar a{
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #bface0;
}

.wholescreen{
    display: flex;
    width: 90%;
    height: 100%;
    position: relative;
}

.side-ficha{
    text-align: center;
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #bface0;
    float: left;
    padding: 10px;
    z-index: 999;
}

.ficha-img{
    margin-top: 50px;
    width: 85%;
}

.nome-paciente{
    color: #ffff;
    font-weight: normal;
}

.idade-gestacional{
    color: #ffff;
    font-weight: normal;
}

.side-button{
    color: #ffff;
    padding: 8px;
    text-align: center;
    background-color: #9D65C9;
    border-radius: 25px;
    border: none;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
}

.side-button:hover{
    background-color: #CEDEBD;
}


.info-ficha{
    overflow: hidden;
    margin-left: 260px;
    position: relative;
    height: 100%;
    width: 100%;
}

.section1{
    overflow: hidden;
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 0px;
    padding: 20px;
}

.pragnancy-dates {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dates-container{
    display: flex;
}

.DUM {
    text-align: center;
    margin-left: 30px;
    margin-right: 80px;
}

.DPP {
    text-align: center;
    margin-right: 80px;
}

.date-consulta {
    margin-top: 30px;
    margin-left: 80px;
}

.consulta-input{
    background-color: #bface0;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.consulta-input:focus{
    outline: none;
}

.date-input{
    background-color: #bface0;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.date-input:focus{
    outline: none;
}

.consulta-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.consulta-input::-webkit-outter-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}


.pragnancy-risk{
    position: relative;
    margin-left: 10px;
    text-align: left;
}
.risk{
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    background-color: #bface0;
    height: 90px;
}

.risk-title{
    margin-right: 30px;
}


.risk-input{
    background-color: #e6d7ff;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
}

.risk-input:focus{
    outline: none;
}

.personal-info{
    margin-left: 20px;
    padding: 10px;
    height: 100px;
    text-align: left;
}

.personal-input{
    text-align: left;
    background-color: #e6d7ff;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.personal-input:focus{
    outline: none;
    border:#6f4e87 solid 1px;
}

.section2{
    overflow: hidden;
    background-color: #bface0;
    padding: 20px;
    display: flex;
    width: 80%;
    margin-left: 4.5vw;
    border-radius: 20px;
}

.container2{
    background-color: #e6d7ff;
    width: 20vw;
    margin-left: 30px ;
    margin-right: 30px ;
    border-radius: 20px;
    height: 32vh;
}

.container2 h3{
    text-align: center;
}

.info-text{
    margin-top: -15px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
    height: 20vh;
}
.info-text::-webkit-scrollbar{
    width: 2px;
    background-color: none;
}
.section3{
    overflow: hidden;
    margin-top: 30px;
    background-color: #bface0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    margin-left: 4.4vw;
    border-radius: 20px;
    margin-bottom: 5vw;
}

.container3{
    padding-top: 20px;
    position: relative;
    background-color: #e6d7ff;
    width: 56vw;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    height: 40vh;
    margin-bottom: 20px;
}

.observacoes-text{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    padding: 5px;
    width: 95%;
    margin-bottom: 10px;
    height: 35vh;
}

.section4{
    overflow: hidden;
    margin-top: 30px;
    background-color: #bface0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    margin-left: 4.4vw;
    border-radius: 20px;
    margin-bottom: 5vw;
}

.container4{
    padding-top: 20px;
    position: relative;
    background-color: #e6d7ff;
    width: 56vw;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    height: 60vh;
    margin-bottom: 20px;
}

.doctor-text{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffff;
    width: 90%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}

.info-parto{
    display: flex;
}

.obs-parto{
    border-radius: 20px;
    margin: 20px;
    background-color: #ffffff;
    height: 37vh;
    width: 30vw;
    padding: 10px;
}

.parto-checklist{
    border: #0000006f solid 1px;
    border-radius: 20px;
    margin: 20px;
    background-color: #ffffff;
    height: 37vh;
    width: 30vw;
    padding: 10px;
}

.modalAgendamento{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000008e;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000000;
}

.sectionModal{
    background-color: #ffffff;
    height:85vh;
    margin-top: 10vh;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10vw;
    text-align: left;
    border-radius: 30px;
}

.sectionModal h2{
    font-family: 'Roboto';
    font-size: x-large;
    text-align: center;
    padding-right: 10vw;
}

.fechar{
    margin-left: 90%;
    margin-top: 50px;
    size: 10px;
    cursor: pointer;
    font-size: x-large;
}

.text-agendamento{
    font-family: 'Roboto';
   
}

.campo-agendamento{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 85%;
    height: 30px;
    box-sizing: border-box;
}

.agendamento-button{
    background-color: #6f4e87;
    color: white;
    font-size: larger;
    width: 15vw;
    height: 8vh;
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translate(-80%);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.agendamento-button:hover{
    background-color: #CEDEBD;
}


@media screen and (max-width: 768px) {
}
