body {
    background-color: #E6D7FF;
    margin: 0; 
    margin-top: -30px;
    font-family: Arial, sans-serif;
}

.content {
    margin-left: 250px; /* A largura do menu lateral */
    padding: 20px;
}
.container {
    background-color: #E6D7FF; /* Mesma cor de fundo que o body */
    /* Outros estilos para o container */
    color: #000000;
    font-weight: bold;
    position: absolute;
}
.form-div {
    margin-bottom: 20% ; /* Adicione espaço abaixo das divs do formulário */
}
.form-control{
    border-radius: 20px;
    background-color: #ffffff;
}

.barra_lateral {
    text-align: center;
}
 /* Botões */
.btn-primary-cancelar {
     background-color: #5D54A4; /* Cor de fundo do botão "Cancelar" */
     color: #fff; /* Cor do texto no botão "Cancelar" */
    border: none;
     position: absolute; /* Posição absoluta em relação ao conteúdo */
    bottom: 20px; /* Distância do fundo da página */
}

.btn-primary-salvar {
     background-color: #5D54A4; /* Cor de fundo do botão "Salvar" */
     color: #fff; /* Cor do texto no botão "Salvar" */
    border: none;
     position: absolute; /* Posição absoluta em relação ao conteúdo */
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da direita da página */
}

 /* Estilos para responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .form-control {
        font-size: 14px;
        padding: 8px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
}
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    background-color: #bface0;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;



    
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center; 

}



/* Estilo para tornar o menu lateral responsivo */
@media (max-width: 768px) {
    .menu {
        width: 100%;
    }

    .content {
        margin-left: 0;
    }
}

.button-box {
    text-align: center; /* Centraliza os botões horizontalmente */
}

.button-box button {
    background-color: #5D54A4; 
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    margin: 10px 30px; 
    padding: 10px 30px; 
    border: none;
    color: #ffffff;
}
/*botão voltar*/
#btnVoltar {
    position: absolute; 
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #5D54A4;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center; 
    margin-right: 25%;
    border-radius: 10px;
}
#btnVoltar:hover {
    background-color: #46a169; /* Cor diferente quando o mouse passa sobre o botão */
    color: #fff;
}
.logo{
    justify-content: center;
    display: flex;
}
.logo img{
    width:80%;
    align-items: center;
}

.foto{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap:2vw
}
.foto img{
    width: 150px;
}

.alterar-btn{
    background-color: #5D54A4; 
    color: #fff;
    border-radius: 10px;
    border-style: none;
    height: 2vw;
    width: 8vw;
}

.content{
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;
    padding-left: 10vw;
    
}
.inputs-edicao {
    background-color: #bface0;  
    border-radius: 15px; 
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
    padding: 35px; 
    margin: 35px ; 
    width: 800px;

}

.inputs-edicao label {
    font-weight: bold;
    color: #000000; 
    margin-bottom: 25px; 
    
}
.inputs-edicao input {
    width: calc(100% - 40px); 
    padding: 15px;
    background-color: #ffffff53;
    border: 1px solid #5b0c78; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-bottom: 20px
}

.inputs-edicao input:focus {
    border-color: #5b0c78;  
    outline: none; 
}

.buttons-edicao {
    display: flex;
    justify-content: center;
}
#btn-salvar{
    background-color: #5D54A4;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 8vw;
    height: 3vw;
    border-radius: 1vw;
}
