.navbar {
   background-color: #5D54A4;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.form-control{
    border: 15px;
}

/*container*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin-top: 20px;
}

.comic {
    width: calc(50% - 20px); 
    border: 1-px solid #6b0c6e;
    border-radius: 10px;
    overflow: hidden; 
}

.info-square {
    display: flex;
    flex-direction: row;
    background-color: #9D65C9; 
    padding: 20px;
    align-items: center;
}

.profile {
    flex: 1; 
    padding: 10px;
   
}

.profile img {
    max-width: 100px; 
}

.options {
    flex: 1; 
    padding: 10px;
 
}

.risk {
    background-color: #c5e1a5; 
    padding: 10px;
    text-align: center;
    margin-bottom: 10px; 
    border-radius: 20px;
}

/*  tipo de parto e consultas pendentes */
.birth-type select,
.pending-appointments {
    background-color: #e4e4e4; 
    padding: 10px;
    text-align: center;
    margin-top: 10px; 
}

.seleção{
    background-color: #5D54A4;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
.risk{
    background-color: #5D54A4;
}

select.seleção option.verde {
    background-color: green;
}

select.seleção option.amarelo {
    background-color: yellow;
}

select.seleção option.vermelho {
    background-color: red;
}

.info-square {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .um,
  .dois{
    flex: 1;
  }

  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .birth-type,
  .pending-appointments {
    flex: 1;
  }