/* Estilos globais */
body {
    background-color: #E6D7FF;
    margin: 0; /* Para remover margens padrão do body */
}

.container {
    background-color: #E6D7FF; /* Mesma cor de fundo que o body */
    /* Outros estilos para o container */
}


 
 .container-menu {
     background-color: #333; /* Cor de fundo da barra lateral */
     color: #fff; /* Cor do texto na barra lateral */
     padding: 20px;
 }
 
 .barra_lateral {
     text-align: center;
 }
 
 .imagem_perfil img {
     max-width: 100px; /* Largura máxima da imagem de perfil */
     border-radius: 50%; /* Tornar a imagem de perfil circular */
 }
 
 .input-box {
     margin-top: 20px;
 }
 
 ul {
     list-style: none;
     padding: 0;
 }
 
 ul li {
     margin-bottom: 10px;
 }
 
 /* Estilos para o formulário */
 .container {
     padding: 20px;
 }
 
 .form-label {
     font-weight: bold;
 }
 
 .form-control {
     font-size: 16px;
     padding: 10px;
 }
 
 /* Botões */
 .btn-primary-cancelar {
     background-color: #d9534f; /* Cor de fundo do botão "Cancelar" */
     color: #fff; /* Cor do texto no botão "Cancelar" */
     border: none;
 }
 
 .btn-primary-salvar {
     background-color: #5bc0de; /* Cor de fundo do botão "Salvar" */
     color: #fff; /* Cor do texto no botão "Salvar" */
     border: none;
 }
 
 /* Estilos para responsividade */
 @media (max-width: 768px) {
     .container {
         padding: 10px;
     }
 
     .form-control {
         font-size: 14px;
         padding: 8px;
     }
 
     .btn {
         font-size: 14px;
         padding: 8px 16px;
     }
 }
 
 /**/
 /* Reset de estilos para remover margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif;
}

/* Estilo para o menu lateral */
.menu {
    background-color: #5D54A4;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center; 

}

.menu .logo {
    text-align: center;
    margin-bottom: 20px;
}

.menu .logo img {
    width: 100px; 
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list li {
    padding: 10px 20px;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu-list li a:hover {
    background-color: #994cd8;
}

/* Estilo para o conteúdo principal */
.content {
    margin-left: 250px; /* A largura do menu lateral */
    padding: 20px;
}

/* Estilo para tornar o menu lateral responsivo */
@media (max-width: 768px) {
    .menu {
        width: 100%;
    }

    .content {
        margin-left: 0;
    }
}

/*botão voltar*/
#btnVoltar {
    position: absolute; /* Posição absoluta em relação ao conteúdo */
    bottom: 20px; /* Distância do fundo da página */
    right: 20px; /* Distância da direita da página */
    padding: 10px 20px;
    background-color: #a206d1;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center; 
    margin-right: 25%;
    border-radius: 20px;
}